---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro | About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>About Me</h1>
        <h2>... And my new Astro site!</h2>
        
        <p>I am currently working through Astro's blog tutorial, and this site will become more complete as that progresses. My actual blog will have a very different appearance.</p>
    	
    	</body>
</html>